doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
            

    body 
        h2 Confirma tu cuenta  
        p Presiona el siguiente boton para confirar tu cuenta 
        a(href=`${confirmarUrl}`) Confirma tu cuenta 
        p Si no puedes acceder a ese enlace accede, visita #{confirmarUrl}
        p Si no solicitaste este e-mail puedes ignorarlo 